quartus/quartus_project/db
quartus/quartus_project/incremental_db/
quartus/quartus_project/*.qsf
quartus/quartus_project/*.qws
quartus/.vscode/
quartus/src/*.bak
quartus/tb/*.bak
python/bin/
python/include/
python/lib/
python/pyvenv.cfg
python/etc/
python/share/
python/lib64
python/.ipynb_checkpoints/
python/Scripts/
python/results/.ipynb_checkpoints/
