quartus/db
quartus/incremental_db/
quartus/*.qsf
quartus/*.qws
quartus/.vscode/
quartus/src/*.bak
quartus/tb/*.bak
quartus/quartus_project
python/bin/
python/include/
python/lib/
python/pyvenv.cfg
python/etc/
python/share/
python/lib64
python/.ipynb_checkpoints/
python/Scripts/
python/results/.ipynb_checkpoints/
