quartus/db
quartus/*.qsf
quartus/*.qws
python/bin/
python/include/
python/lib/
python/pyvenv.cfg
python/etc/
python/share/
python/lib64
python/.ipynb_checkpoints/
python/Scripts
quartus/incremental_db
quartus/db
